package templates

import (
	"bez/bez_server/internal/types"
)

templ CreateAgent(user types.User) {
	@Main(user) {
		<div dir="rtl">
			<div class="max-w-md mx-auto py-10">
				<h2 class="text-xl font-500 leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
					הוספת סוכן
				</h2>
			</div>
			<form
 				class="max-w-md mx-auto"
 				hx-post="/users/createAgentSubmit"
 				hx-params="*"
 				hx-target="#errorMsg"
 				hx-target-40*="#errorMsg"
			>
				<div class="relative z-0 w-full mb-5 group">
					<input type="searchTxt" name="searchTxt" id="searchTxt" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required/>
					<label for="searchTxt" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">מילת חיפוש</label>
				</div>
				// <div class="grid md:grid-cols-2 md:gap-6">
				<div class="relative z-0 w-full mb-5 group">
					<select type="text" name="category" id="category" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" ">
						<option value="" selected="">-- הכל --</option>
						<option value="מוצרי חשמל">מוצרי חשמל</option>
						<option value="ריהוט וכלי בית">ריהוט וכלי בית</option>
						<option value="ספרים ומדיה דיגיטלית">ספרים ומדיה דיגיטלית</option>
						<option value="בגדים ואופנה">בגדים ואופנה</option>
						<option value="תחביבים וספורט">תחביבים וספורט</option>
						<option value="לתינוק ולילד">לתינוק ולילד</option>
						<option value="סיוע חברתי וסביבתי">סיוע חברתי וסביבתי</option>
						<option value="שונות">שונות</option>
					</select>
					<label for="category" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">תת קטגוריה</label>
				</div>
				// <div class="relative z-0 w-full mb-5 group">
				// 	<select type="text" name="subCategory" id="subCategory" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required>
				// 		<option value="" selected="">כל הקטגוריות</option>
				// 		<option value="1">מוצרי חשמל</option>
				//         <option value="2">ריהוט וכלי בית</option>
				//         <option value="3">ספרים ומדיה דיגיטלית</option>
				//         <option value="4">בגדים ואופנה</option>
				//         <option value="5">תחביבים וספורט</option>
				//         <option value="6">לתינוק ולילד</option>
				//         <option value="7">סיוע חברתי וסביבתי</option>
				//         <option value="8">שונות</option>
				// 	</select>
				// 	<label for="subCategory" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">תת קטגוריה</label>
				// </div>
				// </div>
				<div class="relative z-0 w-full mb-5 group">
					<select type="text" name="condition" id="condition" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" ">
						<option value="">-- הכל --</option>
						<option value="1">כמו חדש</option>
						<option value="2">טוב ומעלה</option>
						<option value="3">מעט פגום ומעלה</option>
						<option value="4">משובח בתור חומר גלם ומעלה</option>
					</select>
					<label for="condition" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">מצב</label>
				</div>
				<div class="relative z-0 w-full mb-5 group">
					<select type="text" name="area" id="area" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" ">
						<option value="" data-select2-id="6">-- הכל --</option>
						<option value="אילת והערבה" data-select2-id="6">אילת והערבה</option>
						<option value="גוש דן והמרכז" data-select2-id="7">גוש דן והמרכז</option>
						<option value="גליל, גולן ועמקים" data-select2-id="8">גליל, גולן ועמקים</option>
						<option value="דרום הארץ והנגב" data-select2-id="9">דרום הארץ והנגב</option>
						<option value="השפלה" data-select2-id="10">השפלה</option>
						<option value="השרון" data-select2-id="11">השרון</option>
						<option value="חיפה, כרמל וקריות" data-select2-id="12">חיפה, כרמל וקריות</option>
						<option value="ירושלים ויהודה" data-select2-id="13">ירושלים ויהודה</option>
						<option value="שומרון ובקעת הירדן" data-select2-id="14">שומרון ובקעת הירדן</option>
						<option value="חול" data-select2-id="14">חול</option>
					</select>
					<label for="area" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">אזור</label>
				</div>
				<div class="pb-3">
					<input type="checkbox" name="withImage" id="withImage" class="peer"/>
					<label for="withImage" class="text-white">עם תמונה</label>
				</div>
				<button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
				<div class="text-red-500" id="errorMsg"></div>
			</form>
		</div>
	}
}
