package templates

templ Head() {
	<head>
		<title>My Webpage</title>
		<script src="https://unpkg.com/htmx.org@1.9.10"/>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.classless.min.css"/>
	</head>
}
